<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashnoard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="text/javascript" src="/js/main.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
        <li>
            <span class="logo">Travel Planer</span>
            <button onclick=toggleSidebar() id="toggle-btn">
                <img src="/images/menu.png" alt="Burguer menu">
            </button>
        </li>
        <li>
            <a href="#" class="nav-item active" data-section="home">
                <img src="/images/home.png" alt="home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-item active" data-section="dashboard">
                <img src="/images/Dashboard.png" alt="dashboard">
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <img src="/images/plane.png" alt="">
                <span>Create</span>
                <img src="/images/arrow-d.png" alt="more">
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">Project</a></li>
                </div>
            </ul>
        </li>
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <img src="/images/todo.png" alt="To do">
                <span>Todo-Lists</span>
                <img src="/images/arrow-d.png" alt="more">
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Private</a></li>
                    <li><a href="#">Coding</a></li>
                    <li><a href="#">Gardening</a></li>
                    <li><a href="#">School</a></li>
                </div>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-item active" data-section="calendar">
                <img src="/images/calender.png" alt="">
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-item active" data-section="profile">
                <img src="/images/User.png" alt="User Photo">
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>
<%- include('partials/adminMain.ejs') %>
</body>
</html>