<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="user-id" content="<%= userId %>">
  <title>Premium Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="text/javascript" src="/js/main.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
        <li>
            <span class="logo">Travel Planer</span>
            <button onclick=toggleSidebar() id="toggle-btn">
                <img src="/images/menu.png" alt="Burger menu">
            </button>
        </li>
        <li>
            <a href="#" class="nav-item" data-section="home">
                <img src="/images/home.png" alt="home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <img src="/images/plane.png" alt="">
                <span>Create</span>
                <img src="/images/arrow-d.png" alt="more">
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">Project</a></li>
                </div>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-item" data-section="todo-lists">
                <img src="/images/todo.png" alt="To do">
                <span>Todo-Lists</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-item" data-section="calendar">
                <img src="/images/calender.png" alt="">
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-item" data-section="profile">
                <img src="/images/User.png" alt="User Photo">
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>
<%- include('partials/premiumMain.ejs') %>
</body>
</html>
